@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #182c35;
	background-color: #e9c46a;
	font-size: 16px;
	font-family: 'Courier Prime', monospace;
	text-align: center;
}

h1 {
	margin-top: 30px;
}

.calculator {
	display: inline-block;
	margin: 30px auto;
	background-color: #3c5964;
	overflow: hidden;
	border: 5px solid #223f4b;
	border-radius: 9px;
}

.display {
	height: 110px;
	width: 210px;
	color: #e9edee;
	text-align: right;
	padding: 15px 10px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	overflow: hidden;
	border-bottom: 5px solid #223f4b;
}

.display__result {
	font-size: 3rem;
	min-height: 55px;
}

.btns {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 5px;
	padding: 5px 0;
}

.btn {
	background-color: #d3d9db;
	font-size: 1.2rem;
	margin: 5px;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	padding: 10px;
}

.btn--clear,
.btn--del {
	font-size: 9px;
	font-weight: bold;
}

.btn:hover,
.btn:active {
	background-color: #e76f51;
}
